/* Misc */

$background: #e3ffff;
$secondary: #fff1e3;
$tertiary: #ffe3e3;
$logo: #f73f52;
$logoSecondary: #f69ba4;
$vue-color: #46bd87;
$danger-color: #f73f52;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
