/* Misc */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

$body-font-family: 'Nunito', sans-serif;
$background: #eaeff0;
$secondary: #fff1e3;
$tertiary: #ffe3e3;
$logo: #f73f52;
$logoSecondary: #f69ba4;
$vue-color: #46bd87;
$danger-color: #f73f52;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #121212;
$navbar-link-color: #2c3e50;
